<p><%= meeting_details.label :title %>: <%= meeting_details.text_field :title %></p>
<p><%= meeting_details.label :location %>: <%= meeting_details.text_field :location %></p>
<p><%= meeting_details.label :presenter %>: <%= meeting_details.text_field :presenter %></p>
<p><%= meeting_details.label :description %>: <%= meeting_details.text_field :description %></p>
