<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "jquery.1.4.2.min" %>
    <%= javascript_include_tag "jquery-ui.min" %>
    <%= yield :header_data %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
